/* ===========VARIABLESS============= */
:root 
{
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--primary-background: #FFFFFF;
--secondary-background: #2E2F42;
--primary-text-color: #2E2F42;
--accent-color: #4D5AE5;
--secondary-text-color: #434455;
--second-accent-color:#31d0aa;
--transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after 
{
box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p 
{
margin: 0;
}

ul, ol
{
margin: 0;
padding: 0;
}

img
{
display: block;
width: 100%;
height: auto;
}

.container {
max-width: 428px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

@media screen and (min-width: 768px)
{
.container
{
max-width: 768px;
}
}
/* ====== Mobile menu burger ======= */
.site-nav
{
display: flex;
}

.mobile-burger-menu
{margin-left: auto;

}

.menu-toggle-burger
{
margin-left: auto;
background-color: transparent;
border: none;
border-radius: 50%;
padding: 0;

width: 32px;
height: 22px;

}

.mobile-menu-close
{
width: 13px;
height: 13px;
color: rgba(255, 255, 255, 1);
}

.menu-toggle-close {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    width: 32x;
    height: 32px;
    padding: 9px;
    top: 24px;
    right: 32px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.social-media-list-mobile {
display: flex;
gap: 20px;;
    }

.social-media-link
{
width: 40px;
height: 40px;
border-radius: 50%;
}


.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 156px;
    padding-left: 32px;
    padding-bottom: 24px;
    padding-right: 85px;
    background: rgba(30, 24, 35, 1);

    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
   
}

.mobile-menu {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: start;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: auto;
    margin-left: 85px;
}
.mobile-menu-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-align: left;
}

.mobile-menu-contact {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 48px;
   
    text-decoration: none;
    list-style-type: none;
    }



.mobile-menu-contact-item {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    
    color: #2E2F42;
}

@media screen and (min-width: 320px) and (max-width: 428px) {
    .mobile-menu-contact-item 
    {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: #434455;
    }
    
    .active-contact
    {
        padding: 0;
        margin: 0;
        list-style: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }
}

.active-link
{
color: #FD9222;
}

.active-contact
{
color:#4D5AE5
}

@media screen and (min-width: 428px)
{
.social-media
{
margin-top: 48px;
margin-bottom: 40px;
}
}

    
@media screen and (min-width: 1200px) {
.container {
    max-width: 1158px;
    }

.menu-toggle {
    display: none;
}
}



/* ===========GENERAL============= */

button {cursor: pointer;}

.link 
{
text-decoration: none;
list-style-type: none;
}

.contact
{
font-style: normal;
}

.list
{
list-style-type: none;
font-style: normal;
padding: 0;
margin: 0;
}
/* =============HEADER-LOGO==================== */

@media screen and (min-width:320px)
{

.header {
height: 70px;
padding: 25px 25px;
}

.logo-accent 
{
font-family: 'Montserrat';
font-style: italic;
font-weight: 700;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.03em;
color: #111111;
text-decoration: none;
}

.logo-main {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.03em;
color: #111111;
text-decoration: none;
}

.filter
{
display: none;
}

.contact
{
display: none;
}

.site-header {
align-items: center;
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

}

@media screen and (min-width: 768px)
{

.mobile-burger-menu
{display: none;}

.header 
{

display: flex;
align-items: center;
justify-content: center;
}

.filter {
    display: flex;
}

.logo-main
{
margin-right: 76px;
}

.nav {
    margin-right: 40px;
}

.nav-item {
    position: relative;
    transition: color var(--transition-dur-func);
}

.nav:last-child {
    margin-right: 0px;
}

.site-nav {
    display: flex;
    align-items: center;
}

.nav-item:hover,
.nav-item:focus {
    color: #404bbf;
}


.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    list-style: none;

    display: block;
    padding: 24px 0;
}

.contact {
    font-style: normal;
    list-style: none;
    display: flex;
    margin-left: auto;

}

.contact-item:hover,
.contact-item:focus {
    color: #404bbf;
}

.contact-item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    font-style: normal;
    text-decoration: none;
    list-style: none;

    transition: color var(--transition-dur-func);
}

.contact-card {
    margin-bottom: 12px;
    transition: color var(--transition-dur-func);
}

.contact-card:last-child {
    margin-right: 0px;
    margin-bottom: 0px;
}

.active {
    color: #404bbf;
}

.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background-color: #404bbf;
    color: #404bbf;
}
}


@media screen and (min-width: 1200px)
{
.contact-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    }
.contact-item {
    font-size: 16px;
    line-height: 1.5;}

.contact-card
    {
    margin-bottom: 0px;
    }
}


